# Leer información

### Leer directamente de archivo

In [1]:
import pandas as pd
import csv

path="misTransacciones.csv"


with open(path, newline='', encoding='utf-8') as archivo:
    lector = csv.reader(archivo)
    lector = list(lector)

### Leer contenido del archivo y devolver como string:

In [2]:
import csv
import io

path="misTransacciones.csv"
with open(path, 'r', encoding='utf-8') as f:
    contenido = f.read()

# Convertimos el string a un objeto tipo archivo
archivo_simulado = io.StringIO(contenido)

# Leemos usando el módulo csv
lector0 = csv.reader(archivo_simulado)
# Convertimos a lista
lector0 = list(lector0)

### Comparación

In [3]:
lector0 == lector

True

In [4]:
def getRawData(miLector):
    infoTransacciones=[]
    beginTrans=False
    for fila in miLector:

        if beginTrans and (fila==[]):
            beginTrans = False

        if beginTrans:
            infoTransacciones.append(fila)
        
        if (len(fila)==1):
            if  fila[0]=='Detalle de Estado Bancario':
                beginTrans=True
    return infoTransacciones

df0 = getRawData(lector0)
df  = getRawData(lector)

In [5]:
pd.DataFrame(df).head()

,0,1,2,3,4,5,6
0,Fecha de Transacci�n,Referencia de Transacci�n,C�digo de Transacci�n,Descripci�n de Transacci�n,D�bito de Transacci�n,Cr�dito de Transacci�n,Balance de Transacci�n
1,01/04/2025,40118120,3O,INTERESES,0.00,6.39,2358669.83
2,02/04/2025,40206897,3O,INTERESES,0.00,6.39,2358676.22
3,03/04/2025,40200000,CP,DLC*UBER RIDES\ SAN JOSE,3597.91,0.00,2355078.31
4,03/04/2025,40306339,3O,INTERESES,0.00,6.35,2355084.66

In [6]:
pd.DataFrame(df0).head()

,0,1,2,3,4,5,6
0,Fecha de Transacci�n,Referencia de Transacci�n,C�digo de Transacci�n,Descripci�n de Transacci�n,D�bito de Transacci�n,Cr�dito de Transacci�n,Balance de Transacci�n
1,01/04/2025,40118120,3O,INTERESES,0.00,6.39,2358669.83
2,02/04/2025,40206897,3O,INTERESES,0.00,6.39,2358676.22
3,03/04/2025,40200000,CP,DLC*UBER RIDES\ SAN JOSE,3597.91,0.00,2355078.31
4,03/04/2025,40306339,3O,INTERESES,0.00,6.35,2355084.66

In [7]:
infoTransacciones = df0

### Nombrar columnas

In [8]:
infoTransacciones=pd.DataFrame(infoTransacciones)
infoTransacciones.columns = ["Fechas", "Referencia", "Código", "Descripición", "Débito", "Crédito", "Balance"]
infoTransacciones.head()

,Fechas,Referencia,Código,Descripición,Débito,Crédito,Balance
0,Fecha de Transacci�n,Referencia de Transacci�n,C�digo de Transacci�n,Descripci�n de Transacci�n,D�bito de Transacci�n,Cr�dito de Transacci�n,Balance de Transacci�n
1,01/04/2025,40118120,3O,INTERESES,0.00,6.39,2358669.83
2,02/04/2025,40206897,3O,INTERESES,0.00,6.39,2358676.22
3,03/04/2025,40200000,CP,DLC*UBER RIDES\ SAN JOSE,3597.91,0.00,2355078.31
4,03/04/2025,40306339,3O,INTERESES,0.00,6.35,2355084.66

### Eliminar primera fila

In [9]:
infoTransacciones = infoTransacciones.drop(index=0)
infoTransacciones.head()

,Fechas,Referencia,Código,Descripición,Débito,Crédito,Balance
1,01/04/2025,40118120,3O,INTERESES,0.00,6.39,2358669.83
2,02/04/2025,40206897,3O,INTERESES,0.00,6.39,2358676.22
3,03/04/2025,40200000,CP,DLC*UBER RIDES\ SAN JOSE,3597.91,0.00,2355078.31
4,03/04/2025,40306339,3O,INTERESES,0.00,6.35,2355084.66
5,04/04/2025,40300000,CP,DLC*UBER RIDES\ SAN JOSE,2690.00,0.00,2352394.66

### Convertir a tipo de variable que interesa

In [10]:
infoTransacciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 1 to 26
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fechas        26 non-null     object
 1   Referencia    26 non-null     object
 2   Código        26 non-null     object
 3   Descripición  26 non-null     object
 4   Débito        26 non-null     object
 5   Crédito       26 non-null     object
 6   Balance       26 non-null     object
dtypes: object(7)
memory usage: 1.6+ KB

In [11]:
infoTransacciones["Crédito"]    = infoTransacciones["Crédito"].astype(float)
infoTransacciones["Débito"]     = infoTransacciones["Débito"].astype(float)
infoTransacciones["Fechas"]     = pd.to_datetime(infoTransacciones['Fechas'], format='%d/%m/%Y')

In [21]:
infoTransacciones.head()

,Fechas,Referencia,Código,Descripición,Débito,Crédito,Balance
1,01/04/2025,40118120,3O,INTERESES,0.00,6.39,2358669.83
2,02/04/2025,40206897,3O,INTERESES,0.00,6.39,2358676.22
3,03/04/2025,40200000,CP,DLC*UBER RIDES\ SAN JOSE,3597.91,0.00,2355078.31
4,03/04/2025,40306339,3O,INTERESES,0.00,6.35,2355084.66
5,04/04/2025,40300000,CP,DLC*UBER RIDES\ SAN JOSE,2690.00,0.00,2352394.66

In [13]:
infoTransacciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 1 to 26
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fechas        26 non-null     datetime64[ns]
 1   Referencia    26 non-null     object
 2   Código        26 non-null     object
 3   Descripición  26 non-null     object
 4   Débito        26 non-null     float64
 5   Crédito       26 non-null     float64
 6   Balance       26 non-null     object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 1.6+ KB

### Aporte neto

In [14]:
infoTransacciones["Aporte neto"] = infoTransacciones["Crédito"]- infoTransacciones["Débito"]
infoTransacciones

,Fechas,Referencia,Código,Descripición,Débito,Crédito,Balance,Aporte neto
1,2025-01-04,40118120,3O,INTERESES,0.00,6.39,2358669.83,6.39
2,2025-02-04,40206897,3O,INTERESES,0.00,6.39,2358676.22,6.39
3,2025-03-04,40200000,CP,DLC*UBER RIDES\ SAN JOSE,3597.91,0.00,2355078.31,-3597.91
4,2025-03-04,40306339,3O,INTERESES,0.00,6.35,2355084.66,6.35
5,2025-04-04,40300000,CP,DLC*UBER RIDES\ SAN JOSE,2690.00,0.00,2352394.66,-2690.00
6,2025-04-04,40300000,CP,DLC*UBER RIDES\ SAN JOSE,312.80,0.00,2352081.86,-312.80
7,2025-04-04,40300000,CP,DLC*UBER RIDES\ SAN JOSE,2964.41,0.00,2349117.45,-2964.41
8,2025-04-04,40411131,3O,INTERESES,0.00,6.33,2349123.78,6.33
9,2025-05-04,40400000,CP,DLC*UBER RIDES\ SAN JOSE,3024.87,0.00,2346098.91,-3024.87
10,2025-05-04,40505361,3O,INTERESES,0.00,6.34,2346105.25,6.34
11,2025-06-04,40500000,CP,IVA -UBER *TRIP,188.04,0.00,2345917.21,-188.04
12,2025-06-04,40500000,CP,DLC*UBER EATS\ SAN JOSE,11917.62,0.00,2333999.59,-11917.62
13,2025-06-04,40500000,CP,DLC*UBER RIDES\ SAN JOSE,870.19,0.00,2333129.40,-870.19
14,2025-06-04,40500000,CP,UBER *TRIP HELP.UBE,1446.49,0.00,2331682.91,-1446.49
15,2025-06-04,40699370,3O,INTERESES,0.00,6.17,2331689.08,6.17
16,2025-07-04,40796077,3O,INTERESES,0.00,6.32,2331695.40,6.32
17,2025-08-04,40700000,CP,COURSERA.ORG\ MOUNTAIN,25382.00,0.00,2306313.40,-25382.00
18,2025-08-04,40890279,3O,INTERESES,0.00,6.18,2306319.58,6.18
19,2025-09-04,40987252,3O,INTERESES,0.00,6.25,2306325.83,6.25
20,2025-10-04,40900000,CP,DLC*UBER RIDES\ SAN JOSE,1717.68,0.00,2304608.15,-1717.68
21,2025-10-04,40900000,CP,DLC*UBER RIDES\ SAN JOSE,3963.88,0.00,2300644.27,-3963.88
22,2025-10-04,40900000,CP,DLC*UBER RIDES\ SAN JOSE,2701.52,0.00,2297942.75,-2701.52
23,2025-10-04,40900248,CP,HAMBURGER FACTORY LA URUCA,5950.00,0.00,2291992.75,-5950.00
24,2025-10-04,41003275,3O,INTERESES,0.00,6.13,2291998.88,6.13
25,2025-11-04,41000000,CP,DLC*UBER RIDES\ SAN JOSE,1354.92,0.00,2290643.96,-1354.92
26,2025-11-04,41000248,CP,SODA DELICIAS TROPICALES,1500.00,0.00,2289143.96,-1500.00

# Usar librería:

In [1]:

from procesarDatos import *
path="misTransacciones.csv"
l=datos()
l.df.head()

2025-04-13 22:31:39.355 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 22:31:40.457
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\ProgramData\anaconda3\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]
2025-04-13 22:31:40.458 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 22:31:40.460 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 22:31:40.931 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 22:31:40.932 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 22:31:40.955 No runtime found, using MemoryCacheStorageManager
2025-04-13 22:31:40.959 No runtime found, using MemoryCacheStorageManager
2025-04-13 22:31:40.961 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 22:31:40.962 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 22:31:40.963 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 22:31:41.215 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 22:31:41.216 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 22:31:41.220 No runtime found, using MemoryCacheStorageManager
2025-04-13 22:31:41.222 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 22:31:41.223 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 22:31:41.224 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 22:31:41.328 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 22:31:41.329 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

,Fechas,Referencia,Código,Descripcion,Débito,Crédito,Balance,Aporte neto
id,,,,,,,,
1,2025-01-01,MiEjemplo,132718,Esto es un ejemplo,1327.18,0.00,0.0,-1327.18
2,2025-03-01,22800000,CP,DLC*UBER RIDES\ SAN JOSE,1526.32,0.00,2234837.8,-1526.32
3,2025-03-01,30140889,3O,INTERESES,0.00,6.04,2234844.0,6.04
4,2025-03-02,30100000,CP,DLC*UBER RIDES\ SAN JOSE,1470.86,0.00,2233373.0,-1470.86
5,2025-03-02,30230565,3O,INTERESES,0.00,6.04,2233379.0,6.04

In [8]:
col="Débito"
q = "Débito !=0" if (col == "Débito") else "Crédito !=0"
l.df[[col]].query(q)

       Débito
id
1     1327.18
2     1526.32
4     1470.86
6    30889.18
7     1416.46
9     8075.29
14    1403.98
18    1773.45
20   21000.00
21   21500.00
22   73632.87
24    1501.33
25    3614.93
26    2709.25
27  100000.00
32   73632.87
34   48500.00
38    4199.81
39    2594.97
41    5600.00
43    2481.25
45    1265.94
46    5160.00
47      35.00
48    2375.00
50    3625.20
51     992.35
52     250.00
53   14933.00
54    8075.29
56    6600.00
59    7000.00
60    1747.28
61    2692.48
62    9000.00
64     881.00
67    4000.00
69   32508.53

In [2]:
l.styledDF()

In [3]:
def suma(a,b):
    return a+b
suma(1,2)

3

In [4]:
l.gananciasPerdidas()

{'ganancias': 630963.1699999999, 'gastos': 508663.89}

In [41]:
d=l.read_histFromDB(redfineDf=False)
d.set_index("id", inplace=True)
d.columns=["Fechas", "Referencia", "Código", "Descripcion", "Débito", "Crédito", "Balance"]
d["Aporte neto"] = d["Crédito"]-d["Débito"]
d

2025-04-13 21:40:50.191 No runtime found, using MemoryCacheStorageManager
2025-04-13 21:40:50.196 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 21:40:50.198 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 21:40:50.200 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 21:40:50.218 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 21:40:50.220 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

,Fechas,Referencia,Código,Descripcion,Débito,Crédito,Balance,Aporte neto
id,,,,,,,,
1,2025-01-01,MiEjemplo,132718,Esto es un ejemplo,1327.18,0.00,0.0,-1327.18
2,2025-03-01,22800000,CP,DLC*UBER RIDES\ SAN JOSE,1526.32,0.00,2234837.8,-1526.32
3,2025-03-01,30140889,3O,INTERESES,0.00,6.04,2234844.0,6.04
4,2025-03-02,30100000,CP,DLC*UBER RIDES\ SAN JOSE,1470.86,0.00,2233373.0,-1470.86
5,2025-03-02,30230565,3O,INTERESES,0.00,6.04,2233379.0,6.04
...,...,...,...,...,...,...,...,...
67,2025-03-29,958403802,TS,SINPE MOVIL Llanta_Romualdo_Al,4000.00,0.00,2391152.8,-4000.00
68,2025-03-29,32935226,3O,INTERESES,0.00,6.48,2391159.2,6.48
69,2025-03-30,951822491,TF,Pago ICE Teléfono 17943090,32508.53,0.00,2358650.8,-32508.53
70,2025-03-30,33031520,3O,INTERESES,0.00,6.30,2358657.0,6.30
71,2025-03-31,33168303,3O,INTERESES,0.00,6.39,2358663.5,6.39

In [29]:
l.df

,Fechas,Referencia,Código,Descripición,Débito,Crédito,Balance,Aporte neto
1,2025-03-01,22800000,CP,DLC*UBER RIDES\ SAN JOSE,1526.32,0.00,2234837.84,-1526.32
2,2025-03-01,30140889,3O,INTERESES,0.00,6.04,2234843.88,6.04
3,2025-03-02,30100000,CP,DLC*UBER RIDES\ SAN JOSE,1470.86,0.00,2233373.02,-1470.86
4,2025-03-02,30230565,3O,INTERESES,0.00,6.04,2233379.06,6.04
5,2025-03-03,30200000,CP,DLC*UBER EATS\ SAN JOSE,30889.18,0.00,2202489.88,-30889.18
...,...,...,...,...,...,...,...,...
66,2025-03-29,958403802,TS,SINPE MOVIL Llanta_Romualdo_Al,4000.00,0.00,2391152.80,-4000.00
67,2025-03-29,32935226,3O,INTERESES,0.00,6.48,2391159.28,6.48
68,2025-03-30,951822491,TF,Pago ICE Teléfono 17943090,32508.53,0.00,2358650.75,-32508.53
69,2025-03-30,33031520,3O,INTERESES,0.00,6.30,2358657.05,6.30
70,2025-03-31,33168303,3O,INTERESES,0.00,6.39,2358663.44,6.39

In [27]:
info=l.df[["Crédito"]].query("Crédito != 0")
info.describe()

import matplotlib.pyplot as plt
info=info["Crédito"].to_list()
plt.boxplot(x=info)
plt.show()

C:\Users\gabri\AppData\Local\Temp\ipykernel_28340\3572288700.py:7: UserWarning:

FigureCanvasAgg is non-interactive, and thus cannot be shown

In [11]:
l.graph_gananciasPerdidas()

In [6]:
l.graph_BalanceXTime()

# Base de datos:

### Leer de la base datos:

In [7]:
l.read_catFromDB()

2025-04-13 18:58:15.031 No runtime found, using MemoryCacheStorageManager
2025-04-13 18:58:15.034 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 18:58:15.038 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 18:58:15.039 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 18:58:15.046 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 18:58:15.048 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

  Descripción Categoría
0     Ejemplo      Otro

In [8]:
l.read_histFromDB(redfineDf=False)

2025-04-13 18:58:15.798 No runtime found, using MemoryCacheStorageManager
2025-04-13 18:58:15.800 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 18:58:15.800 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 18:58:15.802 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 18:58:15.815 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 18:58:15.816 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

,id,fechas,referencia,codigo,descripcion,debito,credito,balance
0,1,2025-01-01,MiEjemplo,132718,Esto es un ejemplo,1327.18,0.00,0.0
1,2,2025-03-01,22800000,CP,DLC*UBER RIDES\ SAN JOSE,1526.32,0.00,2234837.8
2,3,2025-03-01,30140889,3O,INTERESES,0.00,6.04,2234844.0
3,4,2025-03-02,30100000,CP,DLC*UBER RIDES\ SAN JOSE,1470.86,0.00,2233373.0
4,5,2025-03-02,30230565,3O,INTERESES,0.00,6.04,2233379.0
...,...,...,...,...,...,...,...,...
66,67,2025-03-29,958403802,TS,SINPE MOVIL Llanta_Romualdo_Al,4000.00,0.00,2391152.8
67,68,2025-03-29,32935226,3O,INTERESES,0.00,6.48,2391159.2
68,69,2025-03-30,951822491,TF,Pago ICE Teléfono 17943090,32508.53,0.00,2358650.8
69,70,2025-03-30,33031520,3O,INTERESES,0.00,6.30,2358657.0
70,71,2025-03-31,33168303,3O,INTERESES,0.00,6.39,2358663.5

In [9]:
l.read_catTable()

2025-04-13 18:58:16.532 No runtime found, using MemoryCacheStorageManager
2025-04-13 18:58:16.535 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 18:58:16.536 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 18:58:16.537 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 18:58:16.540 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 18:58:16.542 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

  descripcion  categoria
0     Ejemplo          1

In [10]:
l.read_catTableDesc()

2025-04-13 18:58:18.121 No runtime found, using MemoryCacheStorageManager
2025-04-13 18:58:18.125 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 18:58:18.127 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 18:58:18.127 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 18:58:18.254 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 18:58:18.254 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

   id           descripcion
0   1                  Otro
1   3       Servicio de luz
2   4  Servicio de internet
3   5            Transporte
4   6             Educación
5   7      Servicio de agua
6   8                Comida
7   9                 Salud

### Eliminar una categoria:

In [5]:
categoriaAEliminar = "Educacion"
l.read_catTableDesc()

2025-04-13 15:32:26.828 No runtime found, using MemoryCacheStorageManager
2025-04-13 15:32:26.831 No runtime found, using MemoryCacheStorageManager
2025-04-13 15:32:26.832 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 15:32:26.834 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 15:32:26.835 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 15:32:26.857 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 15:32:26.858 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

   id           descripcion
0   1                  Otro
1   2      Servicio de agua
2   3       Servicio de luz
3   4  Servicio de internet
4   5            Transporte
5   6             Educacion

In [6]:
l.eliminarCategoriaXDesc(categoriaAEliminar)

2025-04-13 15:32:44.051 No runtime found, using MemoryCacheStorageManager
2025-04-13 15:32:44.056 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 15:32:44.058 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 15:32:44.059 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 15:32:44.085 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-13 15:32:44.086 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
c:\Users\gabri\OneDrive\Documentos\MisesApp\scr\procesarDatos.py:95: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  indx_categoriaAEliminar =int(df_des.query("descripcion ==@descripcion")["id"])

In [9]:
a="      "
a.strip() == ""

True

### Encontrar las categorías nuevas

In [8]:
#SELECT *  FROM categorias_descripcion
lista_categorias = l.read_catList()
lista_categorias

2025-04-12 18:34:56.796 No runtime found, using MemoryCacheStorageManager
2025-04-12 18:34:56.800 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-12 18:34:56.801 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-12 18:34:56.802 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-12 18:34:56.808 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-12 18:34:56.810 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

['Otro', 'Educación']

In [9]:
l.nuevasCategorias()

2025-04-12 18:34:59.460 No runtime found, using MemoryCacheStorageManager
c:\Users\gabri\OneDrive\Documentos\MisesApp\scr\procesarDatos.py:152: FutureWarning:

unique with argument that is not not a Series, Index, ExtensionArray, or np.ndarray is deprecated and will raise in a future version.

[' INTERESES                     ',
 ' DLC*UBER RIDES\\       SAN JOSE',
 ' IVA -UBER   *TRIP             ',
 ' DLC*UBER EATS\\        SAN JOSE',
 ' UBER   *TRIP          HELP.UBE',
 ' COURSERA.ORG\\         MOUNTAIN',
 ' HAMBURGER FACTORY LA URUCA    ',
 ' SODA DELICIAS TROPICALES      ']

# OPERACIONES DE ESCRITURA

In [10]:
l.agregarCategoria("Servicios básicos")

In [11]:
l.read_catList()

2025-04-12 18:36:13.212 No runtime found, using MemoryCacheStorageManager

['Otro', 'Educación']

In [2]:
import toml
secretsPath = "C:\\Users\\gabri\\.streamlit\\secrets.toml"

# Cargar el archivo .toml
with open(secretsPath, 'r') as f:
    secrets = toml.load(f)
secrets_db=secrets["connections"]["postgresql"]

In [4]:
import psycopg2

# Configuración de conexión
conn = psycopg2.connect(
    host        = secrets_db["host"],
    port        = secrets_db["port"],
    database    = secrets_db["database"],
    user        = secrets_db["username"],
    password    = secrets_db["password"]
)

# Crear un cursor
cur = conn.cursor()

descripcion=input("Nueva categoria")

# Consulta SQL
insert_query = "CALL insertar_descripcioncategorias(%s);"

# Llamar al procedimiento almacenado con el input
cur.execute("CALL insertar_descripcioncategorias(%s);", (descripcion,))

# Guardar los cambios
conn.commit()

# Cerrar cursor y conexión
cur.close()
conn.close()

In [ ]:
"a" not in ["a","b","c"]

False

: